<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuovo sito web</title>
</head>
<body>
    <!-- intestazione -->
   <header>
    <h1>Il mio bellissimo sito web</h1>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="#chi_sono">Chi sono</a></li>
            <li><a href="#cosa_mangio">Cosa mangio</a></li>
            <li><a href="#contatti">Regalami cibo</a></li>
        </ul>
    </nav>
   </header>
   <!-- fine intestazione  -->
   <!-- Jumbotron -->
   <div>
    <img src="https://cdn.pixabay.com/photo/2018/08/01/22/50/rabbit-3578422_1280.jpg" width="700px" alt="coniglietto grigio">
   </div>
   <!-- fine jumbotron -->
   <!-- Corpo principale -->
   <main>
    <section id="chi_sono">
        <h2>Chi sono</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero facilis porro consectetur aperiam maiores atque ullam deserunt assumenda quam magnam repellendus dignissimos iste accusamus odit, exercitationem reprehenderit. Quaerat, doloribus facilis.
            Impedit similique, laudantium beatae veniam dolores, consequuntur harum maxime cum esse a vel quae ex explicabo quod odio debitis? Eligendi amet quos laboriosam possimus. Reiciendis accusamus minus consequuntur nisi deserunt.
            Dolorum, aliquam! Facilis, facere? Harum cumque quis laudantium! Ad provident veniam voluptas, fuga rem quas reprehenderit vel perferendis esse ullam necessitatibus quos, voluptatibus molestiae nostrum dicta? Quam reiciendis amet rerum?
            Illo vero, ut repudiandae temporibus voluptatum accusamus doloribus! Maxime dolore saepe facilis deleniti, et molestiae possimus pariatur atque eveniet sit. Odio explicabo veritatis omnis quae accusamus qui minima voluptas. Nesciunt?
            Autem facilis asperiores sit nihil doloribus impedit magni possimus praesentium aspernatur ipsam placeat assumenda dignissimos, necessitatibus, rerum rem. Ad laborum nihil aliquid, et aut sed assumenda ab nesciunt id quod.
            Explicabo aperiam rerum maxime facilis voluptatum, eligendi optio in sit recusandae harum, voluptates exercitationem dolor sunt esse tempora amet vero, sint ex perferendis. Hic vitae velit deserunt. Reiciendis, maiores nesciunt?
            Totam corporis, laborum quam facere libero, atque, ea nemo recusandae repellendus quas rerum incidunt. Fugit officia sint molestias ex ratione consequatur excepturi minus dignissimos, aliquam, ducimus itaque perferendis quaerat laborum.
            Voluptates, tempora laboriosam nobis temporibus aspernatur rem labore doloremque accusantium tenetur quo quos, aut necessitatibus cum natus. Nam, dolor fugiat. Et, rerum neque facilis repudiandae totam eos nesciunt distinctio corporis!
            Porro voluptates rem repudiandae iste, fugiat dolorum non possimus impedit voluptatem quasi laborum atque itaque odio explicabo ipsum aperiam blanditiis eaque, enim, ea repellat velit totam excepturi! Nobis, ipsam. Blanditiis?
            Quae aperiam cupiditate sed temporibus, dolorem doloremque nulla atque maiores repellat dignissimos quis in rerum alias ea eum expedita incidunt iste ipsam et voluptatem tempore, quas fuga voluptatibus? Hic, omnis?
        </p>
    </section>
    <section id="cosa_mangio">
        <h2>Cosa Mangio</h2>
        <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi vero commodi exercitationem repudiandae cumque sed quia velit laborum, eveniet, quod nostrum quam? Quos beatae distinctio cupiditate dolores qui accusamus voluptatem.
            Expedita porro quos consequuntur repellendus perspiciatis. Dolores culpa, ratione, pariatur maxime, temporibus aspernatur eligendi suscipit maiores esse corporis dolor consequatur fugiat odio nisi nobis blanditiis. Harum odio rem aliquam iure!
            Repellat nobis deleniti sed labore aliquid animi obcaecati iste incidunt quisquam minus sint similique vitae quia odio deserunt autem voluptate sunt, provident excepturi maxime eligendi quo eius ad! Consequuntur, nobis.
            Impedit velit quos tempora fugit aperiam ratione. Consectetur, accusantium tempora totam atque delectus odio id nam molestias porro vel. In, hic voluptates a quisquam quaerat voluptatibus debitis. Libero, dolorem asperiores?
            Accusamus magnam tempore saepe cumque sit deleniti, libero molestiae illo quis voluptates nostrum quidem animi incidunt numquam vel, similique mollitia quod minus quaerat, nulla debitis maiores. Odit nostrum excepturi eligendi?
            Nobis assumenda sint temporibus veritatis, dolorem, a minus adipisci doloribus magnam ab ut ducimus quae sunt facere quas mollitia, odio quis odit vero ea ipsam. Repellendus vel debitis eum error.
            Fugiat reiciendis veritatis perferendis mollitia amet ipsum distinctio nostrum atque provident doloribus? Omnis exercitationem sunt provident nobis minus, officiis ipsam ex maiores, distinctio expedita illum adipisci sequi iure nihil laboriosam.
            Excepturi nam reprehenderit cumque expedita doloremque vitae nesciunt dolor accusantium voluptatum corporis, distinctio suscipit laudantium natus error dignissimos sequi fugiat similique consequuntur maiores enim? Consectetur, illum saepe. At, culpa eum?
            Sunt qui natus voluptate aut atque minima voluptatum iste corporis repellendus officiis dolores sapiente expedita, inventore autem reprehenderit velit dolor tempore beatae officia quia at exercitationem. Fugit tempore tenetur est?
            Esse labore sapiente odio atque expedita, suscipit ad nulla facere ut saepe et fugit inventore voluptate asperiores, impedit officiis velit error odit? Est necessitatibus illo similique ullam vitae facere ipsa.
        </p>
<img src="https://media.istockphoto.com/id/187071535/it/foto/due-conigli-in-un-piccolo-pasto-mangiare-paglia.webp?s=2048x2048&w=is&k=20&c=Sgm-C5NKkpOCobDHa61sA_dqzZeCR4vQue17u1N04_Q=" width="500px" alt="due conigli mangiano fieno">
    </section>
    <section id="contatti">
        <h2>Contattami per regalarmi cibo</h2>
        <form action="">
            <div>
                <label for="">Nome</label>
                <input type="text"> <br>
                <label for="">Email</label>
                <input type="text"> <br>
                <label for="">Messaggio</label>
                <textarea name="" id="" cols="30" rows="10"></textarea> <br>
                <button>
                    Invia snackini
                </button>
            </div>
        </form>

    </section>
    <a href="#">Torna su</a>
   </main>
   <!-- fine Corpo principale -->
   <footer>Copyright</footer> 
</body>
</html>