<html>
    <head>
        <title>il titolo della pagina</title>
    </head>
    <body>
        <!-- QUESTO è UN COMMENTO -->
        <h1>TITOLO GIGANTE</h1>
        <h2>Titolo due un po' più piccolino</h2>
        <h3>Titolo tre ancora più piccolino</h3>
        <h4>titolo 4 mini</h4>
        <!-- FINE DEL TITOLO -->
        <p>questo è il corpo della pagina</p>
        <p>sono un altro paragrafo</p>
        <p> <strong>ora ecco un coniglietto carino</strong></p>
        <img src="https://www.zootecshop.com/cdn/shop/articles/coniglio-nano_1296x.jpg?v=1613119512" width="300px" alt="è un coniglietto scemo">
        <p>per il meme qua sotto mettiamo il rickroll</p>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0VXPnBszGCk?si=VzQxyGVJD1CBRMKH" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore dolor debitis explicabo esse nobis necessitatibus, possimus maxime! Odit sapiente mollitia dolorem, ducimus ipsa, eius officiis sequi, a vel dolorum molestiae.
            Labore tenetur deserunt facilis iste, omnis accusantium sapiente voluptatibus laborum, nobis, temporibus incidunt aut excepturi consectetur laudantium officiis ratione magni optio ducimus dolor error! Cum quasi quidem commodi illo voluptatum.
            Numquam esse aliquid in rerum, ipsa explicabo dolores eaque optio repellendus. Cupiditate reiciendis excepturi magni maxime sit incidunt odio ab exercitationem recusandae quam dolore, quidem beatae fuga soluta veniam nostrum!
            Rem ullam voluptates nesciunt placeat recusandae tempora dolore dolor facere reprehenderit temporibus provident delectus fugit, nostrum iste dignissimos numquam? Alias soluta amet modi vero dolores? Accusantium ullam dolores praesentium consectetur.
            Perferendis, non maxime, vero enim itaque tempora veritatis odio illum provident, dicta debitis! Harum nihil adipisci, modi et nemo, quas libero hic non ex iure aliquam ducimus eveniet iusto quidem?
            Quidem maxime perspiciatis quis similique? Porro, explicabo placeat! Facere nisi odio blanditiis dolorum ratione atque veniam. Dolor, ratione alias impedit cum magni doloremque doloribus quis, officia, corrupti incidunt quibusdam nostrum.
            Sit corporis minima maiores minus enim dignissimos accusamus magni asperiores, quia provident, eaque harum esse quam veritatis autem beatae? Voluptatum ex cupiditate officiis sit ut hic assumenda eum nihil ea?
            Ad minus delectus sit dignissimos atque officiis pariatur ut nemo, error autem natus aspernatur! Nihil dolore, corrupti officia optio reprehenderit exercitationem iste eaque sunt porro rerum! Saepe numquam consequatur aliquam.
            Voluptate exercitationem molestias vel hic neque repudiandae, quis laborum eveniet eaque eos fugit ipsam. Ratione saepe modi eius in, sequi odit delectus obcaecati voluptates, maiores, omnis numquam odio officiis vel?
            Et quaerat non saepe, voluptas quisquam facilis illo fuga asperiores? Voluptas explicabo nesciunt delectus, qui aut molestias nam sunt nemo eligendi nobis aliquam eum architecto rem distinctio cumque hic doloribus.
        </p>
    </body>
</html>