<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
</head>
<body>
   <header>
    <!--header top-->
    <div class="header-top">
        <div class="container flex">
            <div class="logo">
                <img src="img/navbar-logo.svg" alt="Start Bootstrap">
            </div>
            <nav>
                <ul>
                    <li><a href="#Services">Services</a></li>
                    <li><a href="#Portfolio">Portfolio</a></li>
                    <li><a href="#About">About</a></li>
                    <li><a href="#Team">Team</a></li>
                    <li><a href="#Contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--header top-->

    <!--header main-->
    <div class="header-main">
        <div class="subtitle">Welcome to our studio!</div>
        <div class="title">It's nice to meet You</div>
        <button>Tell me more</button>

    </div>
    <!--header main-->
   </header>

   <main>
    <section id="Services" class="padding-top-bottom">
        <div class="container">
            <h2>Services</h2>
            <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            <div class="services">
                <div class="box-services">
                    <div class="icon">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <p class="title-services">E-commerce</p>
                    <p class="desc-services">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repellat eius laborum minus illum quisquam exercitationem similique, sed inventore ratione reiciendis, fuga repudiandae harum reprehenderit et quos cumque, magni eum.</p>
                </div>
                <div class="box-services box-margin">
                    <div class="icon">
                        <i class="fa-solid fa-laptop"></i>
                    </div>
                    <p class="title-services">Responsive Design</p>
                    <p class="desc-services">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repellat eius laborum minus illum quisquam exercitationem similique, sed inventore ratione reiciendis, fuga repudiandae harum reprehenderit et quos cumque, magni eum.</p>
                </div>
                <div class="box-services">
                    <div class="icon">
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <p class="title-services">Web Security</p>
                    <p class="desc-services">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam repellat eius laborum minus illum quisquam exercitationem similique, sed inventore ratione reiciendis, fuga repudiandae harum reprehenderit et quos cumque, magni eum.</p>
                    
                </div>
            </div>
        </div>
    </section>
    <section id="Portfolio" class="padding-top-bottom">
        <div class="container">
            <h2>Portfolio</h2>
            <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit.<p>
            <div class="portfolio flex">
                <div class="box-portfolio">
                    <div class="portfolio-img">
                        <img src="img/1threads.jpg" alt="">
                        <div class="layover"></div>
                        <span><i class="fa-solid fa-circle-plus"></i></span>
                    </div>
                    <div class="desc-portfolio">
                        <h3>Threads</h3>
                        <span>Illustration</span>
                    </div>
                </div>
                <div class="box-portfolio">
                    <div class="portfolio-img">
                        <img src="img/2.jpg" alt="">
                        <div class="layover"></div>
                        <span><i class="fa-solid fa-circle-plus"></i></span>
                    </div>
                    <div class="desc-portfolio">
                        <h3>Explore</h3>
                        <span>Graphic Design</span>
                    </div>
                </div>
                <div class="box-portfolio">
                    <div class="portfolio-img">
                        <img src="img/3.jpg" alt="">
                        <div class="layover"></div>
                        <span><i class="fa-solid fa-circle-plus"></i></span>
                    </div>
                    <div class="desc-portfolio">
                        <h3>Finish</h3>
                        <span>Identity</span>
                    </div>
                </div>
                <div class="box-portfolio">
                    <div class="portfolio-img">
                        <img src="img/4.jpg" alt="">
                        <div class="layover"></div>
                        <span><i class="fa-solid fa-circle-plus"></i></span>
                    </div>
                    <div class="desc-portfolio">
                        <h3>Lines</h3>
                        <span>Branding</span>
                    </div>
                </div>
                <div class="box-portfolio">
                    <div class="portfolio-img">
                        <img src="img/5.jpg" alt="">
                        <div class="layover"></div>
                        <span><i class="fa-solid fa-circle-plus"></i></span>
                    </div>
                    <div class="desc-portfolio">
                        <h3>Southwest</h3>
                        <span>Website Design</span>
                    </div>
                </div>
                <div class="box-portfolio">
                    <div class="portfolio-img">
                        <img src="img/6.jpg" alt="">
                        <div class="layover"></div>
                        <span><i class="fa-solid fa-circle-plus"></i></span>
                    </div>
                    <div class="desc-portfolio">
                        <h3>Window</h3>
                        <span>Photography</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="About" class="padding-top-bottom">
        <div class="container">
            <h2>About</h2>
            <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
            <ul class="timeline">
                <li>
                    <div class="timeline-text text-align-right">
                        <h3>2009-2011 <br>
                            Our humble beginnings
                        </h3>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolorum ad odio saepe in deleniti aliquam modi doloremque libero explicabo cum, quaerat deserunt repellat suscipit quisquam voluptatem unde, debitis aut.</p>
                    </div>
                    <div class="timeline-img">
                        <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/about/1.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="timeline-text text-align-left">
                        <h3>2009-2011 <br>
                            Our humble beginnings
                        </h3>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolorum ad odio saepe in deleniti aliquam modi doloremque libero explicabo cum, quaerat deserunt repellat suscipit quisquam voluptatem unde, debitis aut.</p>
                    </div>
                    <div class="timeline-img">
                        <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/about/1.jpg" alt="">
                        
                    </div>
                </li>
                <li>
                    <div class="timeline-text text-align-right">
                        <h3>2009-2011 <br>
                            Our humble beginnings
                        </h3>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolorum ad odio saepe in deleniti aliquam modi doloremque libero explicabo cum, quaerat deserunt repellat suscipit quisquam voluptatem unde, debitis aut.</p>
                    </div>
                    <div class="timeline-img">
                        <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/about/1.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="timeline-text text-align-left">
                        <h3>2009-2011 <br>
                            Our humble beginnings
                        </h3>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus dolorum ad odio saepe in deleniti aliquam modi doloremque libero explicabo cum, quaerat deserunt repellat suscipit quisquam voluptatem unde, debitis aut.</p>
                    </div>
                    <div class="timeline-img">
                        <img src="https://startbootstrap.github.io/startbootstrap-agency/assets/img/about/1.jpg" alt="">
                    </div>
                </li>
                <li>
                    <div class="timeline-last">
                       Be part <br>
                       of our <br>
                       story!
                    </div>
                </li>
            </ul>
        </div>

    </section>
    <section id="Team" class="padding-top-bottom"></section>
    <section id="Contact" class="padding-top-bottom"></section>
   </main>

   <footer></footer>

</body>
</html>